<%= render 'layouts/shared/header' %>
<br>
<div class="main-container">
<div class="col-sm-3 col-sm-offset-1">
  <div class="boxed boxed--border">
    <h5>Filters</h5>
    <p>
      Build a beautifully performant site with Stack's vast collection of modular elements.
    </p>
    <a class="btn btn--primary" href="#">
      <span class="btn__text">
        Update
      </span>
    </a>
  </div>
</div>
<div class="col-sm-7">
<% @agencies.each do |agency| %>
                                  <div class="boxed boxed--border">
                                      <div class="card__body">
                                          <h4><%= agency.name %></h4>
                                          <span class="type--fade">
                                            Digital Marketing Agency
                                          </span>
                                          <p> We are crap, but charge a shitload of money </p>
                                      </div>
                                      <div class="card__bottom text-right">
                                        <%= link_to("Details", agency_path(agency)) %>
                                      </div>
                                  </div>


                                  <div class="boxed boxed--border">
                                      <div class="card__body">
                                          <h4><%= agency.name %></h4> <span class="type--fade">Video Tutorial Series</span>
                                          <p> Construct mockups or production-ready pages in-browser with Variant Page Builder </p>
                                      </div>
                                      <div class="card__bottom text-right">
                                        <%= link_to("Details", agency_path(agency)) %>
                                      </div>
                                  </div>

                                                                    <div class="boxed boxed--border">
                                      <div class="card__body">
                                          <h4><%= agency.name %></h4> <span class="type--fade">Video Tutorial Series</span>
                                          <p> Construct mockups or production-ready pages in-browser with Variant Page Builder </p>
                                      </div>
                                      <div class="card__bottom text-right">
                                        <%= link_to("Details", agency_path(agency)) %>
                                      </div>
                                  </div>

<% end %>
</div>
<%= render 'layouts/shared/footer' %>
</div>
